# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
cmake-*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PlatformIO
.pio

# meissner changes
# Patch and diff support
*.diff
*.patch
*.orig
*.rej

# Temporary files
*~
.#*
*#
*.tmp
# end meissner changes
